main{
    padding: 1rem;
    background-color: #fafafa;
}
form{
    max-width: 500px;
    margin: 0 auto;
    flex-direction: column;
}


label{
    font-weight: bold;
    margin-top: 1rem;
}

input,
textarea{
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px; /* Add space between buttons */
}

button[type="button"] {
    background-color: #007bff;
    color: white;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

/* Centering the buttons */
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between buttons */
    margin-top: 15px;
}